<!DOCTYPE html>
<html lang="ko">

<head>
  <title>슬기로운 농부생활</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/static/css/aos.css">
  <link href="/static/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/css/style.css">


  <!--폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gowun+Dodum&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gowun+Dodum&family=Hahmlet:wght@200&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gowun+Dodum&family=Hahmlet:wght@200&family=IBM+Plex+Sans+KR&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="header-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 d-flex">
            <a href="/moa/no_subcribe" class="site-logo"><span style="font-family: 'Jua' !Important;">슬기로운 농부생활</span></a>

            <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span></a>

          </div>
          <div class="col-12 col-lg-6 ml-auto d-flex">
            <div class="ml-md-auto top-social d-none d-lg-inline-block">
             
            </div>
            

              <div class="d-flex">
                <input type="button" value="구독하기" class="btn btn-primary py-3 px-5" onclick="location.href='/moa/subcribe'">
              </div>
           

            
          </div>
          <div class="col-6 d-block d-lg-none text-right">
            
          </div>
        </div>
      </div>
      


      
      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          
          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                <li class="active">
                   <li class="active"><a href="/moa/history" class="nav-link text-left">슬기로운 농부생활's history</a></li>
                  <li><a href="/moa/howmuch" class="nav-link text-left">그래서 얼만데?</a></li>
                  <li><a href="/moa/where" class="nav-link text-left">그래서 어디서 팔아?</a></li>
                  <li><a href="/moa/what" class="nav-link text-left">그래서 언제팔아?</a></li>
                  <li><a href="/moa/farmer" class="nav-link text-left">나는야 농부</a></li>
                  <li><a href="/moa/subcribe" class="nav-link text-left">구독하기</a></li>
              </ul>                                                                                                                                                                                                                                                                                          
            </nav>

          </div>
         
        </div>
      </div>

    </div>
    
    </div>

    

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        
                        <h1>우리는 모두 슬기로운 농부</h1>
                        <span class="caption">슬기롭게 사는 사람과 슬기롭게 파는 사람이 모여 만든 공간</span>
                    </div>          

                  <table class="table table-hover text-center" >
                    <style>
                      thead{
                        background-color:#DCDCDC;
                        color : black;
                      }
                    </style>
                      <thead>
                        <h2><span style="font-family: 'IBM Plex Sans KR' !Important;">삽니다</span></h2>
                          <tr>
                              <th>번호</th>
                              <th>유형</th>
                              <th>품종</th>
                              <th>등급</th>
                              <th>예상가격</th>
                              <th>지역</th>
                              <th>작성자(신뢰등급)</th>
                              <th>날짜</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <th>5</th>
                            <th>수집</th>
                            <th>배추</th>
                            <th>최상</th>
                            <th>1,250/1kg</th>
                            <th>전라남도 전체</th>
                            <th>박다영(3등급)</th>
                            <th>2021.08.24</th>
                          </tr>
                          <tr>
                            <th>4</th>
                            <th>일반</th>
                            <th>무</th>
                            <th>상</th>
                            <th>1,030/1kg</th>
                            <th>경상남도 -군,경상북도 -군</th>
                            <th>한성현(4등급)</th>
                            <th>2021.08.24</th>
                          </tr>
                          <tr>
                            <th>3</th>
                            <th>수집</th>
                            <th>배추</th>
                            <th>중</th>
                            <th>1,000/1kg</th>
                            <th>경상남도 -군</th>
                            <th>신수진(5등급)</th>
                            <th>2021.08.23</th>
                          </tr>
                          <tr>
                            <th>2</th>
                            <th>수집</th>
                            <th>상추</th>
                            <th>상</th>
                            <th>5,820/1kg</th>
                            <th>경상북도 -군,전라북도 -군</th>
                            <th>임재홍(1등급)</th>
                            <th>2021.08.22</th>
                          </tr>
                          <tr>
                            <th>1</th>
                            <th>수집</th>
                            <th>깻잎</th>
                            <th>최상</th>
                            <th>6,210/1kg</th>
                            <th>경상북도 -군</th>
                            <th>이창민(1등급)</th>
                            <th>2021.08.21</th>
                          </tr>
                          <tr>
                            <th>0</th>
                            <th>수집</th>
                            <th>무</th>
                            <th>최상</th>
                            <th>1,100/1kg</th>
                            <th>충청남도 -군,경상도 전체</th>
                            <th>송영준(6등급)</th>
                            <th>2021.08.20</th>
                          </tr>
                      </tbody>
                  </table> 

                  <table class="table table-hover text-center">
                    <thead>
                      <h2><span style="font-family: 'IBM Plex Sans KR' !Important;">팝니다</span></h2>
                        <tr>
                            <th>번호</th>
                            <th>유형</th>
                            <th>품종</th>
                            <th>등급</th>
                            <th>예상가격</th>
                            <th>지역</th>
                            <th>작성자(신뢰등급)</th>
                            <th>날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th>5</th>
                          <th>도매</th>
                          <th>배추</th>
                          <th>최상</th>
                          <th>1,250/1kg</th>
                          <th>경기도 -군</th>
                          <th>박다영(3등급)</th>
                          <th>2021.08.24</th>
                        </tr>
                        <tr>
                          <th>4</th>
                          <th>현지</th>
                          <th>무</th>
                          <th>상</th>
                          <th>1,030/1kg</th>
                          <th>전라북도 -군</th>
                          <th>한성현(4등급)</th>
                          <th>2021.08.24</th>
                        </tr>
                        <tr>
                          <th>3</th>
                          <th>현지</th>
                          <th>배추</th>
                          <th>중</th>
                          <th>1,000/1kg</th>
                          <th>전라남도 -군</th>
                          <th>신수진(5등급)</th>
                          <th>2021.08.23</th>
                        </tr>
                        <tr>
                          <th>2</th>
                          <th>현지</th>
                          <th>상추</th>
                          <th>상</th>
                          <th>5,820/1kg</th>
                          <th>경상북도 -군</th>
                          <th>임재홍(1등급)</th>
                          <th>2021.08.22</th>
                        </tr>
                        <tr>
                          <th>1</th>
                          <th>현지</th>
                          <th>깻잎</th>
                          <th>최상</th>
                          <th>6,210/1kg</th>
                          <th>경상북도 -군</th>
                          <th>이창민(1등급)</th>
                          <th>2021.08.21</th>
                        </tr>
                        <tr>
                          <th>0</th>
                          <th>현지</th>
                          <th>무</th>
                          <th>최상</th>
                          <th>1,100/1kg</th>
                          <th>경기도 -군</th>
                          <th>송영준(6등급)</th>
                          <th>2021.08.20</th>
                        </tr>
                    </tbody>
                </table> 



                    <input type="button" value="글쓰기" class="btn btn-primary py-3 px-5" onClick="location.href='/moa/write'">


              </div>
            </div>     
        </div>
    </div>
    
 
    <div class="footer">
      <div class="container">
        

        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    슬기로운 농부생활 &copy;<script>document.write(new Date().getFullYear());</script> 농부를 위해, 농부에 의해, 농부와 함께 존재합니다. <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="history.html" target="_blank" >모아모아</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.countdown.min.js"></script>
  <script src="/static/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/aos.js"></script>
  <script src="/static/js/jquery.fancybox.min.js"></script>
  <script src="/static/js/jquery.sticky.js"></script>
  <script src="/static/js/jquery.mb.YTPlayer.min.js"></script>




  <script src="/static/js/main.js"></script>

</body>

</html>