<!DOCTYPE html>
<html lang="ko">

<head>
  <title>슬기로운 농부생활</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">  <!--바꾼 폰트임-->

  <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/static/css/aos.css">
  <link href="/static/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/css/style.css">

  <!--폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gowun+Dodum&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gowun+Dodum&family=Hahmlet:wght@200&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gowun+Dodum&family=Hahmlet:wght@200&family=IBM+Plex+Sans+KR&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
 


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="header-top">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-12 col-lg-6 d-flex">
            <a href="/moa/no_subcribe" class="site-logo"><span style="font-family: 'Jua' !Important;">슬기로운 농부생활</span></a>

            <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span></a>

          </div>
          <div class="col-12 col-lg-6 ml-auto d-flex">
            <div class="ml-md-auto top-social d-none d-lg-inline-block">
             
            </div>
            

              <div class="d-flex">
                <input type="button" value="구독하기" class="btn btn-primary py-3 px-5" onclick="location.href='/moa/subcribe'">
              </div>
           

            
          </div>

          <div class="col-6 d-block d-lg-none text-right">
            
          </div>
        </div>
      </div>
      


      
      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

      <div class="container">
        <div class="d-flex align-items-center">
          
          <div class="mr-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                <li class="active">
                  <li class="active"><a href="/moa/history" class="nav-link text-left">슬기로운 농부생활's history</a></li>
                  <li><a href="/moa/howmuch" class="nav-link text-left">그래서 얼만데?</a></li>
                  <li><a href="/moa/where" class="nav-link text-left">그래서 어디에 팔아?</a></li>
                  <li><a href="/moa/what" class="nav-link text-left">그래서 언제팔아?</a></li>
                  <li><a href="/moa/farmer" class="nav-link text-left">나는야 농부</a></li>
                  <li><a href="/moa/subcribe" class="nav-link text-left">구독하기</a></li>
                
              </ul>                                                                                                                                                                                                                                                                                         
            </nav>

          </div>
         
        </div>
      </div>

    </div>
    
    </div>

    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            
            <p class="mb-12">
              <img src="/static/images/f_news_b.jpg" alt="Image" class="img-fluid">
            </p>  
            <h1 class="mb-4">
              저희는 슬기로운 농부생활입니다. 
            </h1>

            <p>
              안녕하세요. 저희는 '슬기로운 농부생활'의 모아모아팀입니다.<br>
              저희는 aT공사와 함께 농부를 위한, 농부에 의한, 농부와 함께하는 슬기로운 농부생활이라는 서비스를 만들게 되었습니다.<br>
              농부들의 가장 깊은 고민거리가 무엇일지 생각해본 결과 그 어떤것도 아닌 바로 '먹고사는' 문제가 가장 큰 고민거리라는 것을 알게되었습니다.<br>
              자식처럼 키운 작물을 제 값 받고 팔지 못하고, 농사짓는 스트레스보다 판매에 대한 스트레스를 받으며 지내시는 
              농부님들의 고민을 조금이나마 덜어드리고자 '슬기로운 농부생활'이 탄생하였습니다.<br>
              저희 "슬기로운 농부생활" 서비스는 매일 원하는 시간에 정말 필요한 정보를 담아 메일로 발송해드리고 있습니다.<br>
              저희 서비스를 통해, 농부님들의 삶이 조금이나마 편해지시길 바랍니다.
            </p>
           
      
                  <div class="pt-5">
                    <div class="section-title">
                      <h2 class="mb-5">팀원 소개</h2>
                    </div>
                    <ul class="comment-list">
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="/static/images/hong.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>임재홍</h3>
                          <div class="meta">기획&시각화</div>
                          <p>
                            부산대학교 산업공학과 3학년<br>
                            모아모아팀의 팀장이자 '슬기로운 농부생활'의 전반적인 내용을 기획하였으며, 데이터 시각화을 맡아 진행
                          </p>
                        </div>
                      </li>
      
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="/static/images/lee.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>이창민</h3>
                          <div class="meta">모델링&서버 총괄개발</div>
                          <p>
                            창원대학교 컴퓨터공학과 3학년<br>
                            모아모아팀의 기술팀장이자 '슬기로운 농부생활'의 서버와 데이터 모델링, 전처리를 맡아 진행
                          </p>
                        </div>
                      </li>
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="/static/images/han.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>한성현</h3>
                          <div class="meta">모델링&시각화</div>
                          <p>
                            경상국립대학교 통계학과(컴퓨터공학과) 3학년<br>
                            모아모아팀의 모델링 팀장이자 '슬기로운 농부생활'의 모델, 데이터 전처리, 시각화를 맡아 진행
                          </p>
                        </div>
                      </li>
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="/static/images/da.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>박다영</h3>
                          <div class="meta">크롤링&뉴스레터 개발</div>
                          <p>
                            영남대학교 컴퓨터공학과 4학년<br>
                            모아모아팀의 데이터 전처리팀장이자 '슬기로운 농부생활'의 뉴스레터와 크롤링 데이터 전처리를 맡아 진행
                          </p>
                        </div>
                      </li>
                      <li class="comment">
                        <div class="vcard bio">
                          <img src="/static/images/shin.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>신수진</h3>
                          <div class="meta">크롤링&web front 개발</div>
                          <p>
                            부경대학교 IT융합응용공학과 3학년<br>
                            모아모아팀의 프론트팀장이자 '슬기로운 농부생활'의 웹사이트 프론트, 크롤러 제작을 맡아 진행
                          </p>
                        </div>
                      </li>
                    </ul>
                  </div>  
          </div>
        </div>
      </div>
    </div>

                    <!-- END comment-list -->
        <div class="footer">
          <div class="container">
        

            <div class="row">
              <div class="col-12">
                <div class="copyright">
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    슬기로운 농부생활 &copy;<script>document.write(new Date().getFullYear());</script> 농부를 위해, 농부에 의해, 농부와 함께 존재합니다. <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="history.html" target="_blank" >모아모아</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.countdown.min.js"></script>
  <script src="/static/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/aos.js"></script>
  <script src="/static/js/jquery.fancybox.min.js"></script>
  <script src="/static/js/jquery.sticky.js"></script>
  <script src="/static/js/jquery.mb.YTPlayer.min.js"></script>




  <script src="/static/js/main.js"></script>

</body>

</html>