<!--알아보기 누르고 난 후-->
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>슬기로운 농부생활</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/static/css/aos.css">
  <link href="/static/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/static/css/style.css">


  <!--폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gowun+Dodum&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gowun+Dodum&family=Hahmlet:wght@200&family=Jua&family=Single+Day&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Gowun+Dodum&family=Hahmlet:wght@200&family=IBM+Plex+Sans+KR&family=Jua&family=Single+Day&display=swap" rel="stylesheet">


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="header-top">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 d-flex">
            <a href="/moa/no_subcribe" class="site-logo"><span style="font-family: 'Jua' !Important;">슬기로운 농부생활</span></a>
            <a href="#" class="ml-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
          </div>
          <div class="col-12 col-lg-6 ml-auto d-flex">
            <div class="ml-md-auto top-social d-none d-lg-inline-block"></div>
              <div class="d-flex">
                <input type="button" value="구독하기" class="btn btn-primary py-3 px-5" onclick="location.href='/moa/subcribe'">
              </div> 
          </div>
          <div class="col-6 d-block d-lg-none text-right"></div>
        </div>
      </div>
      
      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">
        <div class="container">
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                  <li class="active">
                    <li class="active"><a href="/moa/history" class="nav-link text-left">슬기로운 농부생활's history</a></li>
                    <li><a href="/moa/howmuch" class="nav-link text-left">그래서 얼만데?</a></li>
                    <li><a href="/moa/where" class="nav-link text-left">그래서 어디에 팔아?</a></li>
                    <li><a href="/moa/what" class="nav-link text-left">그래서 언제팔아?</a></li>
                    <li><a href="/moa/farmer" class="nav-link text-left">나는야 농부</a></li>
                    <li><a href="/moa/subcribe" class="nav-link text-left">구독하기</a></li>
                </ul>                                                                                                                                                                                                                                                                                          
              </nav>
            </div>
          </div>
        </div>
      </div>
    
    </div>

    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h1>그래서 어디에 팔아?</h1>
              <span class="caption">내가 가장 이득을 보며 팔 수 있는 직판장과 온라인에 대해 알려드려요.</span>
            </div>
    
            <div class="site-section">
              <div class="container">
                <div class="container-title">
                    <h2>어느 직판장으로 가야하나?</h2>
                </div>
    
                <div class="row"> 

                  <div class="col-lg-5"><!--지도 넣을 공간-->
                    <div class='tableauPlaceholder' id='viz1630055784573' style='position: relative'>
                      <noscript>
                          <a href='#'>
                              <img src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;3_&#47;3_16300184841980&#47;1&#47;1_rss.png' style='border: none' />
                          </a>
                      </noscript>
                      <object class='tableauViz'  style='display:none;'>
                          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                          <param name='embed_code_version' value='3' /> 
                          <param name='site_root' value='' />
                          <param name='name' value='3_16300184841980&#47;1' />
                          <param name='tabs' value='no' />
                          <param name='toolbar' value='yes' />
                          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;3_&#47;3_16300184841980&#47;1&#47;1.png' /> 
                          <param name='animate_transition' value='yes' />
                          <param name='display_static_image' value='yes' />
                          <param name='display_spinner' value='yes' />
                          <param name='display_overlay' value='yes' />
                          <param name='display_count' value='yes' />
                          <param name='language' value='ko-KR' />
                          <param name='filter' value='publish=yes' />
                      </object>
                  </div> 
                  </div>
    
                  <div class="col-lg-7">

                    <form > <!--서버로 제출될 때 사용되는 HTTP 메소드--> 
                      <table>
                        <thead>
                          <th>
                            <h3>얼마 이상일때,</h3>
                          </th>
                          <th>
                            <select name="market_name" class="form-control">
                              <option value="가락시장" selected="selected">가락시장</option>
                              <option value="강서시장">강서시장</option>
                            </select>
                          </th>
                          <th>
                            <h3>
                              보다 이득일까요?
                            </h3>
                          </th>
                        </thead>
                      </table>  
                      
                      
                      <div class="row">
                        <div class="col-md-3 form-group">
                          <label for="address">품종</label>
                          <input type="text" id="faddress" name="user_product" class="form-control form-control-lg"placeholder="배추">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="email">개인유통비</label>
                            <input type="text" id="email"name="user_email" class="form-control form-control-lg"placeholder="100만원">
                        </div>
                        <div class="col-md-3 form-group">
                          <label for="email">판매량</label>
                          <input type="text" id="email"name="user_email" class="form-control form-control-lg"placeholder="1kg">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3 form-group">
                          <label for="address">출발지</label>
                          <input type="text" id="faddress" name="user_product" class="form-control form-control-lg"placeholder="여기">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="email">도착지</label>
                            <input type="text" id="email"name="user_email" class="form-control form-control-lg"placeholder="저기">
                        </div>
                      </div> 
                    </form>
                    <div class="col-lg-9"><!--가격 예측 표 넣을 공간 / 재홍오빠랑 어떤 표가 들어가야하는지 이야기나누세요-->
                      <table class="table table-hover text-center" >
                        <thead>
                          <tr>
                              <th></th>
                              <th>어제</th>
                              <th>오늘</th>
                              <th>내일</th>
                              <th>모레</th>
                              <th>다음주</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>배추</th><th>9302</th><th>{{cabbage_today}}</th><th>{{cabbage_tomorrow}}</th><th>{{cabbage_toto}}</th><th>{{cabbage_next}}</th>
                        </tbody>
                      </table>          
                    </div>
                    <h3>가락시장에서 {{result}}보다 비싸게 팔면 이득입니다.</h3> <!--구라로 넣는 곳-->
                    <h5>전화번호 : 055-643-7246</h5>
                    <h5>주소 : 거제 로컬푸드 직판장</h5>
                    <h5>평점 : 4.5</h5>
                    <div class="row">
                      <div class="col-md-3 form-group">
                        <input type="button" value="되돌아가기" class="btn btn-primary py-3 px-5" onclick="location.href='/moa/where'">
                      </div>
                    </div>  
                  </div> 
                </div>  
              </div>
            </div>
            <style>
              span.caption, h2{
                font-weight: bold;
              }
            </style>
            <div class="container">
              <div class="container-title">
                <h2>온라인 트렌드</h2>
              </div>
              <div class="col-12">
                <div class='tableauPlaceholder' id='viz1630231643706' style='position: relative'>
                  <noscript>
                      <a href='#'>
                          <img alt='&lt;농산물 온라인 구매 동향&gt; ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;RQ&#47;RQZY8Z8C9&#47;1_rss.png' style='border: none' />
                      </a>
                  </noscript><object class='tableauViz'  style='display:none;'>
                          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                          <param name='embed_code_version' value='3' /> 
                          <param name='path' value='shared&#47;RQZY8Z8C9' /> 
                          <param name='toolbar' value='yes' />
                          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;RQ&#47;RQZY8Z8C9&#47;1.png' /> 
                          <param name='animate_transition' value='yes' />
                          <param name='display_static_image' value='yes' />
                          <param name='display_spinner' value='yes' />
                          <param name='display_overlay' value='yes' />
                          <param name='display_count' value='yes' />
                          <param name='language' value='ko-KR' />
                      </object>
                  </div>       

              <div class="half-post-entry d-block d-lg-flex bg-light">
                <div class="contents col-lg-4">
                  <!-- <span class="caption">생산자와 소비자가 직접 연결될 수 있는 사이트를 소개합니다.</span> -->
                  <h2>온라인 직거래 사이트</h2>
                  <h4><a href="https://cafe.naver.com/tlsxh">농라</a></h4>  <!--h tag에 바로 해당 사이트 링크 연결해주시면 됩니다.https://cafe.naver.com/tlsxh-->
                  <span class="caption">생산자와 소비자가 직접 만날 수 있는 직거래 사이트입니다. </span>
                  <h4><a href="http://www.guidecrops.com/index.htm">농산물 직거래 장터</a></h4> <!--http://www.guidecrops.com/index.htm-->
                  <span class="caption">생산자와 소비자가 직접 만날 수 있는 직거래 사이트입니다. </span>
                  <h4><a href="https://www.esingsing.co.kr/">싱싱장터(농직)</a></h4> <!--https://www.esingsing.co.kr/-->
                  <span class="caption">생산자와 소비자가 직접 만날 수 있는 직거래 사이트입니다. </span>
                </div>
                <div class="contents col-lg-4">
                  <span class="caption"></span>
                  <h2>온라인 도매 사이트</h2>
                  <h4><a href="https://www.eat.co.kr:444/">eaT 농식품거래소</a></h4>  <!--https://www.eat.co.kr:444/-->
                  <span class="caption">aT공사의 도매사이트입니다. </span>
                  <h4><a href="https://www.nhhanaro.co.kr/mbshome/mbs/nahh001/index.do">농협 하나로유통</a></h4> <!--https://www.nhhanaro.co.kr/mbshome/mbs/nahh001/index.do-->
                  <span class="caption">농협의 도매사이트입니다.</span>
                </div>
                <div class="contents col-lg-4">
                  <span class="caption"></span>
                  <h2>온라인 쇼핑몰 사이트</h2>
                  <h4 class='link'><a href="https://www.coupang.com/?src=1042016&spec=10304903&addtag=900&ctag=HOME&lptag=%EC%BF%A0%ED%8C%A1&itime=20210826204721&pageType=HOME&pageValue=HOME&wPcid=10447814913719518926601&wRef=www.google.com&wTime=20210826204721&redirect=landing&gclid=CjwKCAjw95yJBhAgEiwAmRrutHgOcVkXGS6PzXdSKxSrATpui9s2LNqk2apEhFt-DWo4fcStp-FzwRoC3EcQAvD_BwE">쿠팡</a></h4>  <!--https://www.coupang.com/?src=1042016&spec=10304903&addtag=900&ctag=HOME&lptag=%EC%BF%A0%ED%8C%A1&itime=20210826204721&pageType=HOME&pageValue=HOME&wPcid=10447814913719518926601&wRef=www.google.com&wTime=20210826204721&redirect=landing&gclid=CjwKCAjw95yJBhAgEiwAmRrutHgOcVkXGS6PzXdSKxSrATpui9s2LNqk2apEhFt-DWo4fcStp-FzwRoC3EcQAvD_BwE-->
                  <span class="caption">소비자들이 많이 사용하는 온라인 쇼핑몰 사이트입니다. </span>
                  <h4 class="link"><a href="http://emart.ssg.com/main.ssg?ckwhere=e_ggbr&EKAMS=yahoo.272.1679.10.1388636059546.5950000&trackingDays=1&gclid=CjwKCAjw95yJBhAgEiwAmRrutCG-6JRh34dabvRTJHh1tP9B-saquXte_42wirT9oCAb9ZmQed4MrxoCJm4QAvD_BwE">이마트</a></h4> <!--http://emart.ssg.com/main.ssg?ckwhere=e_ggbr&EKAMS=yahoo.272.1679.10.1388636059546.5950000&trackingDays=1&gclid=CjwKCAjw95yJBhAgEiwAmRrutCG-6JRh34dabvRTJHh1tP9B-saquXte_42wirT9oCAb9ZmQed4MrxoCJm4QAvD_BwE-->
                  <span class="caption">소비자들이 많이 사용하는 온라인 쇼핑몰 사이트입니다. </span>
                </div>
              </div> 
              <input type="button" value="산지유통인과 연결하기" class="btn btn-primary py-3 px-5" onclick="location.href='/moa/farmer'"> <!--'나는야 농부'페이지와 연결해주세요.-->
            </div>





          </div>     
        </div>
      </div>
    </div>
 
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="copyright">
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                슬기로운 농부생활 &copy;<script>document.write(new Date().getFullYear());</script> 농부를 위해, 농부에 의해, 농부와 함께 존재합니다. <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="history.html" target="_blank" >모아모아</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.countdown.min.js"></script>
  <script src="/static/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/aos.js"></script>
  <script src="/static/js/jquery.fancybox.min.js"></script>
  <script src="/static/js/jquery.sticky.js"></script>
  <script src="/static/js/jquery.mb.YTPlayer.min.js"></script>




  <script src="/static/js/main.js"></script>

  <script type='text/javascript'>                    
    var divElement = document.getElementById('viz1630055784573');                    
    var vizElement = divElement.getElementsByTagName('object')[0];                   
    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
    var scriptElement = document.createElement('script');                    
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>
    <script type='text/javascript'>                    
      var divElement = document.getElementById('viz1630231643706');                    
      var vizElement = divElement.getElementsByTagName('object')[0];                    
      vizElement.style.width='1150px';vizElement.style.height='727px';                    
      var scriptElement = document.createElement('script');                    
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
      vizElement.parentNode.insertBefore(scriptElement, vizElement);                
      </script>


</body>

</html>